

h1,figure {
  text-align: center;
}

nav a {
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: grey
}

p #featured-property {
  align-content: center;
  width: 800px;
}